<%= stylesheet_link_tag "application.css" %>
<div class="header">
	<h1>New User</h1>
</div>
<div class="body">
	

<%= render 'form' %>

</div>
<div class="navbar">
  <h1 style="font-size:1.5em; margin-top:0px;"><%= link_to 'Home', root_path %> </h1>
</div>
