
	h1 { 	font-size: 3em; 
			font-family: Verdana;
			color: #5C6C7B;
			text-align: center;
			padding: 40px;

		}
		table { 
			border-collapse: collapse;
			width: 400px;
			margin: 0px 0px 0px 10px;
		}
		tr td {
			border-top: solid black;
			width: 100px;
			font-size:0.8em; 
			overflow:hidden;
			text-overflow:clip; 
		}

	div.header	{
			background-color: #B8C0C8;
			width: 400px;
			height: 100px;
			margin-left: 10px;
			border-radius: 10px 10px 0px 0px;
			border-bottom-style: solid;

		}

		div.body {
		background: url(checkbox.jpg) center no-repeat;
		background-size: 200px 150px;
		background-color: #DCDCDC;
			width: 400px;
			height: 300px; 
			margin: 0px 0px 0px 10px;			
		}

	.navbar {
		background-color: #F0F8FF;
			width: 400px;
			height: 70px; 
			margin: 0px 0px 0px 10px;
	}

	div.links {
		background-color: #DCDCDC;
			margin: 15px 15px 20px 15px;
			font-size: 1.2em; 
			font-family: Verdana;
			color: #5C6C7B;
			border-radius: 10px;
			padding:10px;
			float: left;
			}	
	div.links a:link {
		text-decoration: none;
	}
